<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SR X SPOTIFY</title>
  <link rel="stylesheet" href="/css/Style.css">
  <script src="/js/index.js" defer></script>
  <script src="/js/channels.js" defer></script>
</head>
<body>
<h1 id="homepageText">Välj kanal!</h1>
<div id="channelButtons">
    <a href="/channels/p1">
      <button id="P1">
        <img src="/images/P1img.png" alt="P1 kanalbild" class="bildstorlek">
      </button>
    </a>

  <a href="/channels/p2">
    <button id="P2">
      <img src="/images/P2img.jpg" alt="P2 kanalbild" class="bildstorlek">
    </button>
  </a>

  <a href="/channels/p3">
    <button id="P3">
      <img src="/images/P3img.jpg" alt="P3 kanalbild" class="bildstorlek">
    </button>
  </a>

  <a href="/channels/p4">
    <button id="P4">
      <img src="/images/P4img.jpg" alt="P4 kanalbild" class="bildstorlek">
    </button>
  </a>
</div>
</body>
</html>