<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SR X SPOTIFY</title>
    <link rel="stylesheet" href="/css/Style.css">
    <script src="/js/index.js" defer></script>
    <script src="/js/P1.js" defer></script>
</head>
<body>
<main>
    <section id="radioBilder">
        <p>
            <img src="/images/P1img.png" alt="P1 kanalbild">
        </p>
    </section>
</main>
<div class="container">
    <button id="play-button">Hämta och spela P1</button>
    <audio id="P1-player" controls style="display: none;"></audio>
    <button id="playlist-button">Visa låt som spelas</button>
</div>
<div class="playlistContainer">
    <div class="previous-song"></div>
    <div class="current-song"></div>
</div>
</body>
</html>