<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/js/index.js" defer></script>
    <script src="/js/newP3.js" defer></script>
    <link rel="stylesheet" href="/css/Style.css">
  <title>SR X SPOTIFY</title>
</head>
<body>
<main>
    <section id="radioBilder">
        <p>
            <img src="/images/P3img.jpg" alt="P3 kanalbild" class="bildstorlek">
        </p>
    </section>

    <div class="container">
        <button id="play-button">Hämta och spela P3</button>
        <audio id="P3-player" controls style="display: none;"></audio>
        <div id="quiz-container">
            <div id="quiz-question"></div>
            <form id="quiz-options"></form>
            <button id="play-quiz">Spela vårt Quiz!</button>
            <button id="submit-answer" style="display: none;">Skicka svar</button>
            <button id="next-question" style="display: none">Nästa fråga</button>
            <div id="quiz-feedback"></div>
        </div>
        <button id="no-Quiz">Visa låt istället (Quiz kommer inte kunna spelas om du klickar här)</button>
        <div id="playList-container"></div>
    </div>
</main>
</body>
</html>