<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/js/index.js" defer></script>
    <script src="/js/P3.js" defer></script>
    <link rel="stylesheet" href="/css/Style.css">
  <title>SR X SPOTIFY</title>
</head>
<body>
<main>
    <section id="radioBilder">
        <p>
            <img src="/images/P3img.jpg" alt="P3 kanalbild">
        </p>
    </section>

    <div class="container">
        <button id="play-button">Hämta och spela P3</button>
        <audio id="P3-player" controls style="display: none;"></audio>

        <div id="quiz-container">
            <h2>Vad heter låten?</h2>
            <div id="quiz-question"></div>
            <form id="quiz-options"></form>
            <button id="play-quiz">Spela Quiz</button>
            <button id="submit-answer" style="display: none;">Skicka svar</button>
            <div id="quiz-feedback"></div>
        </div>
    </div>
</main>
</body>
</html>