<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SR X Spotify</title>
    <link rel="stylesheet" href="/static/css/Style.css">
</head>
<body>
<main>
    <section id="radioBilder">
        <p>
            <img src="/static/images/P3img.jpg">
        </p>
    </section></main>
<div class="container">
    <button id="play-button">Hämta och Spela P4</button>
    <audio id="P2-player" controls style="display: none;"></audio> <!-- Visa senaste spelade låt -->
    <button id="playlist-button">Visa låt som spelas</button> <!-- Visa nuvarande spelad låt -->
</div>
<div class="playlistContainer">
    <div class="previous-song"></div>
    <div class="current-song"></div>
    <script src="/js/P4.js"></script>

</div>
</body>
</html>